.l-sigin-page {
	margin-top: 150px;

	a.forgot-link {
		color: @text-muted;
	}
}
.l-sigin-page #footer-bar,
#footer-bar.footer-transparent {
	margin: 0;
	text-align: center;
	color: @text-muted;
	background-color: transparent;
	border-top: 0;
}
.l-new-parcel-form .main-box {
	position: relative;
	min-height: 450px;
	padding-bottom: 55px;
	.main-box-button-wrap {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.dashboard-stats-title {
	margin-bottom: 2px;
}
.dashboard-stats-title-date-wrap {
	position: relative;
	display: inline-block;
}
.dashboard-stats-title-custom-date-wrap {
	position: absolute;
	left: 105%;
	width: 400px;
	top: -23px;
	display: none;
	&.open {
		display: block;
	}
	.form-control	{
		width: 140px;
		margin-right: 6px;
	}

}
.dashboard-choose-branch {
	margin-top: -20px;
	@media screen and (max-width: 600px) {
		margin-top: 0;

	}

	.form-control	{
		margin-right: 6px;

		&.branch-type {
			width: 100px;
		}
		&.branch-name {
			width: 200px;
		}
	}
}